<html>

<head>
  <link rel="stylesheet" type="text/css" href="index.html">
</head>

div{
border:1px solid gray
}

#contenedor
{
width:600px;
padding:20px;
margin:0 auto;
overflow:auto;
}

#centro
{
width:100%;
}
#izquierda
{
width:49%;
float:left;

}
#derecha{
width:49%;
float:left;

}

.tc { text-align:center; color:#FF3333 }
.tc2 { text-align:center; color:#B30000 }
          
          
